<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.solution.plugin.db.ots</id>
    <name><![CDATA[阿里云OTS数据集]]></name>
    <active>yes</active>
    <version>7.1</version>
    <env-version>8.0</env-version>
    <jartime>2017-01-20</jartime>
    <vendor>finereport.richie</vendor>
    <description><![CDATA[可以连接阿里云的OTS数据库并进行查询。]]></description>
    <change-notes><![CDATA[
        [2017-04-10]修复使用的jar版本过低的问题。<br/>
        [2016-09-10]增加范围查询。<br/>
        [2016-09-10]主键设置支持公式。<br/>
        [2016-09-05]初始化插件。<br/>
    ]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.db.ots.OTSLocaleFinder"/>
        <XMLFileManagerProvider class="com.fr.plugin.db.ots.core.OTSConfigManager"/>
    </extra-core>
    <extra-report>

    </extra-report>
    <extra-designer>
        <ConnectionProvider class="com.fr.plugin.db.ots.OTSConnectionImpl"/>
        <TableDataDefineProvider class="com.fr.plugin.db.ots.OTSTableDataDefine"/>
        <ServerTableDataDefineProvider class="com.fr.plugin.db.ots.OTSTableDataDefine"/>
    </extra-designer>
    <move-after-install>
        <File name="ots.xml" dir="/resources" operation="0"/>
    </move-after-install>
</plugin>